form {
    display: grid;
    grid-template-columns: auto, auto, auto;
    display: inline;
}

input {
    display: grid;
    grid-template-columns: auto, auto, auto;
    margin: 5px;
    margin-bottom: 10px;
}